<!-- 
    DEMANDER A L'UTILISATEUR DE RAJOUTER CA DANS SON HEAD.html
    OU FAIRE un PHOTOSWIPE_HEAD partial qu'il peut insérer dans son baseof ?? 
    OU PEUT-ON FAIRE UN "block" à concaténer ?
-->

{{ $psjs := resources.Get "js/vendor/photoswipe/photoswipe.min.js" }}
{{ $psuijs := resources.Get "js/vendor/photoswipe/photoswipe-ui-default.min.js" }}
{{ $echojs := resources.Get "js/vendor/echo-js/echo.min.js" }}
{{$js := slice $psjs $psuijs $echojs | resources.Concat "js/photoswipe-bundle.js" }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>

{{ $pscss := resources.Get "js/vendor/photoswipe/photoswipe.css" }}
<link rel="stylesheet" href="{{ $pscss.Permalink }}">
{{ $skin := resources.Get "js/vendor/photoswipe/default-skin/default-skin.css" }}
<link rel="stylesheet" href="{{ $skin.Permalink }}">
{{ $tuftecss := resources.Get "css/tuftery/tufte.css" }}
{{ $fluidcss := resources.Get "css/tuftery/fluid-gallery.css" }}
<link rel="stylesheet" href="{{ $tuftecss.Permalink }}">
<link rel="stylesheet" href="{{ $fluidcss.Permalink }}">
